<footer class="footer">
	<small>
		<a href="http://cnc.lab.ittelkom.ac.id">Pelatihan Ruby on Rails</a> by CnC lab
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path%></li>
			<li><%= link_to "Content",contact_path%></li>
			<li><a href="http://pinguin.ittelkom.ac.id">Pinguin</a></li>
		</ul>
	</nav>
</footer>